<div class="panel panel-default">
  <div class="panel-heading">
    <h4>O aplikacji</h4>
  </div>
  <div class="panel-body">
  	<p class="center" style="font-style:italic;"> Aplikacja IMG umożliwia użytkownikowi przechowywanie zdjęć i tworzenie galerii, która może być przeglądana przez innych użytkowników. Więcej informacji na temat funkcjonalności aplikacji można znaleźć <%= link_to "tutaj", help_instructions_path %>.</p>
  	<hr/>
	<p  class="center">Aplikacja została zbudowana w opariu o framework <span style="font-size:14px;font-weight:bold;">Ruby on Rails</span> w wersji 4.2.1. Wykorzystano także między innymi następujące biblioteki: <span style="font-size:14px;font-weight:bold;">Devise</span>, <span style="font-size:14px;font-weight:bold;">CanCanCan</span> i <span style="font-size:14px;font-weight:bold;">Paperclip</span>.</p>
	<p class="center">
		Dane o użytkownikach są zapisywane w bazie <span style="font-size:14px;font-weight:bold;">PostgreSQL</span>, a przesyłane przez nich pliki graficzne są przechowywane w komorze <span style="font-size:14px;font-weight:bold;">Amazon S3</span>. 
	</p>
	<p class="center"> Szablon aplikacji zbudowano w oparciu o framework <span style="font-size:14px;font-weight:bold;">Bootstrap</span>. </p> 
    <hr/>
	<p class="center" style="font-style:italic;"> Kod źródłowy aplikacji: <a href="https://bitbucket.org/Silendo/aplikacja_ig/src"> Bitbucket</a></p>
  </div>
</div>