<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Kontakt</h4>
  </div>
  <div class="panel-body">
  	<p class="center">Wszelkie uwagi proszę kierować do:<h4><a href="mailto:barb.wznk@gmail.com"> Barbara Woźniak </a></h4><p>
  </div>
</div>