<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Instrukcja obsługi</h4>
  </div>
  <div class="panel-body">
	<h4>Rejestracja i logowanie</h4>
	<p  class="center" style="font-style: italic;">Aplikacja IMG przeprowadza uwierzytelnienie i autoryzację użytkowników.</p>
	<p class="center"> Przy rejestracji od użytkownika wymaga się podania niepowtarzalnego nicku i emaila. Podanie imienie i nazwiska jest opcjonalne. <br/>Po zakończeniu rejestracji użytkownik jest autoamtycznie logowany i może wykonywać wszystkie przewidziane w aplikacji czynności.
	<hr/>
	<h4> Przesyłanie zdjęć </h4>
	<p  class="center" style="font-style: italic;">Tylko zalogowani użytkownicy mają możliwość przesyłania zdjęć do aplikacji.</p>
	<p class="center">Użytkownicy mają możliwość przesyłania plików graficznych o pojemności do 5MB w formatach jpeg, gif i png. Przed zapisaniem zdjęcia są przetwarzane do stałych wymiarów: 500x500px i 200x200px. </p>
 	<hr/>
	<h4> Obserwatorzy i obserwujący </h4>
	<p  class="center" style="font-style: italic;">Użytkownicy mogą obserwować czynności wykonywane przez innych użytkowników.</p>
	<p class="center"> Zalogowani użytkownicy mają możliwość przeglądania profili innych użytkowników. Aby rozpocząć śledzenie należy kliknąć przycisk Obserwuj w profilu użytkownika. Zdjecia dodawane przez obserwowanych użytkowników są wyświetlane w zakładce Nowości. </p>
	<hr/>
	<h4> Ulubione zdjęcia </h4>
	<p  class="center" style="font-style: italic;">Użytkownicy mają możliwość stworzenia galerii ulubionych zdjęć.</p>
	<p class="center"> Użytkownicy mogą dodawać polubienia dla wszystkich zdjęć przechowywanych przez aplikację. Obok każdego zdjęcia wyświetlana jest liczba polubień jakie zebrała dana publikacja.</p>
  </div>
</div>