<div class="panel panel-default">
  <div class="panel-heading">
  	<div class="row">
      <%= render "profile" %>
      <%= render "stats" %>
    </div>
  </div>
  <div class="panel-body">
    <%= render 'user_gallery' %>    
  </div>
</div>

<script>
$('.stat_pictures').addClass('stat_underlined');
</script>