@import "bootstrap-sprockets";
@import "bootstrap";
body {
  padding-top: 50px;
}
h4, form {
	text-align:center;
}
.inner{
  padding: 40px 15px;
}

h1.profil{
 font-size: 30px;
 margin-bottom:0px;
}
h2.profil{
	font-size: 16px;
	margin: 0px;
}
.bold{
	font-weight:bold;
}
.logo{
    margin-bottom:10px;
    margin-left: 20px;
    margin-right: 20px;
	height: 80px;
	width: 80px;
}
.stats{
	margin-top:20px;
}
.last_log{
	font-size: 15px;
    font-style: italic;
    color: #777;
}
a.stat{
	padding: 12px 12px;
}
.follow {
	width:120px;
}

.stat_underlined{
	border-bottom: 5px solid #337ab7;
}
.thumbnail_gallery{
	border-width:0px;
}
.thumbnail_large{
	width:100px;
	height:100px;
	margin-bottom:0px;
}